<div class="container">
<h1>Hi <%= @user.name.titleize %></h1>

<form action="<%= bright_ideas_path %>" method="post" class="create_idea">
    <input type="hidden" name="authenticity_token" value ="<%= form_authenticity_token %>">
    <div class="form-group">
        <label for="content">Content</label>
        <input type="text" name="bright_idea[content]" class="form-control" id="song_title" aria-describedby="emailHelp" placeholder="Content">
    </div>
    <button type="submit" class="btn btn-primary">Create Bright Idea</button>
</form>

<% @ordered_ideas.each do |idea| %>

<p><a href="<%= user_path idea.user.id %>" class="col"><%=idea.user.name.titleize %></a><span class="idea_content col-6"><%= idea.content %></span> <% if idea.user.id == current_user.id %> <button><a href="<%= bright_idea_path idea.id %>" data-method="delete">Delete</a></button> <% end %></p>
<p class="col-md-4"><a href="<%= like_path idea.id %>">Like</a> <a href="<%= bright_idea_path idea.id%>" class="likes_num"><%= idea.likes.length %> people</a> like this</p>
<% end %>
</div>

